h1{
    color:black;
    font-family: "Nunito", sans-serif;
    font-size: 100px;
    font-weight: 1000;
    font-style: normal;
    text-align: center;
    margin-top: center;
}
note{
    font-size: 10px;
}